footer #shirvan-container,
footer #ahmethoca-container,
footer #osmankuru-container {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 150px;
  height: auto;
  opacity: 0.99;
  display: none;
  color: inherit !important;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

#shirvan-button,
#ahmethoca-button,
#osmankuru-button {
  position: absolute;
  bottom: 5px;
  width: 32px;
  height: 32px;
  background: var(--tray);
  color: var(--yazi);
  border: none;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 10000;
}

#shirvan-button { right: 20px; }
#ahmethoca-button { right: 60px; }
#osmankuru-button { right: 100px; }

#shirvan-button:hover,
#ahmethoca-button:hover,
#osmankuru-button:hover {
  background: var(--arka);
  color: var(--yazi);
  border: 1px solid var(--yazi);
  transform: scale(1.1);
}

#shirvan,
#ahmethoca,
#osmankuru {
  width: 160px;
  height: auto;
  opacity: 0.9;
  cursor: pointer;
  animation: fadeIn 0.3s ease forwards;
}

#shirvan{content:url('/images/anooshirvan.png');}
#ahmethoca{content:url('/images/ahmethoca.png');}
#osmankuru{content:url('/images/osmankuru.png');}


#shirvan-bubble,
#ahmethoca-bubble,
#osmankuru-bubble {
  display: none;
  position: absolute;
  background: var(--arka);
  color: var(--yazi);
  border: 1px solid var(--yazi);
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 0.9rem;
  max-width: 200px;
  line-height: 1.3;
  animation: fadeIn 0.3s ease forwards;
  z-index: 10;
}

#shirvan-bubble{
  right: 140px;
  bottom: 40px;
}  

#ahmethoca-bubble{
  right: 160px;
  bottom: 60px;
}

#osmankuru-bubble{
  right: 160px;
  bottom: 40px;
} 

#shirvan-bubble::after,
#ahmethoca-bubble::after,
#osmankuru-bubble::after{
  content: "";
  position: absolute;
  right: -16.5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent var(--yazi);
}

#shirvan-bubble::after{
  bottom: 20px;
}

#ahmethoca-bubble::after{
  bottom: 30px;
}

#osmankuru-bubble::after{
  bottom: 10px;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}
@keyframes asistanJoin {
  from { opacity: 0; }
  to { opacity: 1; }
}
